title: "Ahab's Harpoon"
url: ""
baseurl: "/ahabsharpoon"
markdown: kramdown
permalink: /:year/:month/:day/:title/

plugins:
  - jekyll-seo-tag

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
